@{
    ViewData["Title"] = "Portail ConsulTech";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur votre portail ConsulTech</h1>
</div>

<div style="
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    ">
    <div class="card" style="width:30rem; text-align: center; padding:1rem; margin:1rem;">
        <div class="card-body">
            <h3>Espace consultant</h3>
            <span>Gérez vos consultants.</span>
            <a class="btn btn-primary d-block mt-1 mb-2 mx-auto" style="width: 10rem" asp-controller="Consultants" asp-action="Index">Consultants</a>
        </div>
    </div>
    <div class="card" style="width:30rem; text-align: center; padding:1rem; margin:1rem;">
        <div class="card-body">
            <h3>Espace clients</h3>
            <span>Ajoutez, modifiez ou supprimez vos clients.</span>
            <a class="btn btn-primary d-block mt-1 mb-2 mx-auto" style="width: 10rem" asp-area="" asp-controller="Clients" asp-action="Index">Clients</a>
        </div>
    </div>
    <div class="card" style="width:30rem; text-align: center; padding:1rem; margin:1rem;">
        <div class="card-body">
            <h3>Espace catégories</h3>
            <span>Gérez les catégories de compétences.</span>
            <a class="btn btn-primary d-block mt-1 mb-2 mx-auto" style="width: 10rem" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a>
        </div>
    </div>
    <div class="card" style="width:30rem; text-align: center; padding:1rem; margin:1rem;">
        <div class="card-body">
            <h3>Espace niveau</h3>
            <span>Gérez les niveaux de spécialisation.</span>
            <a class="btn btn-primary d-block mt-1 mb-2 mx-auto" style="width: 10rem" asp-area="" asp-controller="Niveaux" asp-action="Index">Niveaux</a>
        </div>
    </div>
    <div class="card" style="width:30rem; text-align: center; padding:1rem; margin:1rem;">
        <div class="card-body">
            <h3>Espace compétence</h3>
            <span>Gérez les compétences de vos collaborateurs, assignez leur une catégorie et un niveau.</span>
            <a class="btn btn-primary d-block mt-1 mb-2 mx-auto" style="width: 10rem" asp-area="" asp-controller="Competence" asp-action="Index">Competence</a>
        </div>
    </div>
    <div class="card" style="width:30rem; text-align: center; padding:1rem; margin:1rem;">
        <div class="card-body">
            <h3>Espace mission</h3>
            <span>Gérez les missions ! Sélectionnez un client, un budget et attribuez le projet à un de vos collaborateur.</span>
            <a class="btn btn-primary d-block mt-1 mb-2 mx-auto" style="width: 10rem" asp-area="" asp-controller="Missions" asp-action="Index">Missions</a>
        </div>
    </div>
    <div class="card" style="width:30rem; text-align: center; padding:1rem; margin:1rem;">
        <div class="card-body">
            <h3>Espace dashboard</h3>
            <span>Obtenez un suivi de vos missions, clients, budget et plus encore.</span>
            <a class="btn btn-primary d-block mt-1 mb-2 mx-auto" style="width: 10rem" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
        </div>
    </div>
</div>
