@model ConsulTech.Web.Models.ViewModels.ClientEditVm
@{
    ViewData["Title"] = "Nouveau client";
}
<h1 class="mb-3">Nouveau client</h1>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label asp-for="Nom" class="form-label"></label>
        <input asp-for="Nom" class="form-control" />
        <span asp-validation-for="Nom" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Secteur" class="form-label"></label>
        <input asp-for="Secteur" class="form-control" />
        <span asp-validation-for="Secteur" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Adresse" class="form-label"></label>
        <input asp-for="Adresse" class="form-control" />
        <span asp-validation-for="Adresse" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Contact" class="form-label"></label>
        <input asp-for="Contact" class="form-control" />
        <span asp-validation-for="Contact" class="text-danger"></span>
    </div>

    <button class="btn btn-primary">Enregistrer</button>
    <a asp-action="Index" class="btn btn-secondary">Annuler</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
